.commentInput {
    display: flex;
    justify-content: space-between;

}

.commentInput_textarea{
    border: none;
    width: 100%;
    resize:none;
    margin: 8px 0px;
    outline: none;
}

.commentInput_textarea :focus {
    outline: none;
}

.commentInput_button {
    background-color: white;
    border: none;
    cursor: pointer;
}